name: Build ESP8266 Firmware

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Configure Arduino CLI
        run: |
          arduino-cli config init
          arduino-cli config set board_manager.additional_urls \
            http://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli core update-index

      - name: Install ESP8266 core
        run: |
          arduino-cli core install esp8266:esp8266

      - name: Install external libraries
        run: |
          arduino-cli lib install "ArduinoJson"
          arduino-cli lib install "DHT sensor library"
          arduino-cli lib install "Adafruit Unified Sensor"

      - name: Compile firmware
        run: |
          arduino-cli compile \
            --fqbn esp8266:esp8266:nodemcuv2 \
            firmware/heater_E3.2.1.ino
